
body, html{
    background: #A2D6C9;
    background-image: url(img/OAKQRTRT.png);
    width:100%;
    min-height:100%;
    overflow-x:hidden;
    margin:0;
    padding:0;
    font-family: monospace;
  }
  
    
  
  #content{
    margin:0 auto;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;}
    
  #lyt{
    background: url(img/gingham-sea-green.jpg);
    margin:0 auto;
    height: 700px;
    width: 1070px;
    position:relative;
    box-shadow: 0 0 30px 7px rgba(127, 170, 143, 0.95);
    }
    #b1, #b2, #b3, #b4, #b5 {
      position: absolute; /* Posicionamiento absoluto dentro de #lyt */
    }
    
  #title{
    position: absolute;
    width:1070px;
    top: -2%;
    -webkit-font-smoothing : none;
    color: black;
    background-clip:text;
    text-align:center;
    -webkit-text-stroke: 2px black;
    filter: drop-shadow(0px 4px 0px rgb(201, 116, 37)) drop-shadow(0px -4px 0px rgb(219, 127, 40)) drop-shadow(4px 0px 0px rgb(226, 154, 95)) drop-shadow(-4px 0px 0px rgb(238, 185, 143)) drop-shadow(0px 2px 0px #E27C00) drop-shadow(0px -2px 0px #E27C00) drop-shadow(2px 0px 0px #E27C00) drop-shadow(-2px 0px 0px #E27C00) drop-shadow(4px 4px 0px #462911);
  }
  
  
  #b1{
    position: absolute;
    margin:0;
    left: 400px;
    top: 200px;
    width: 300px;
    height: 285px;
    overflow-y: auto;
    overflow-x: none;
    background-image: url(img/bgpaper.png);
    background-size: contain;
    border: 0px solid black;}
      
    #b1 .text{
      font-size: 13px;
      line-height: 15px;
      color: #000000;
      margin:5px;
      font-weight:normal;
  }
  #b2{
    position: absolute;
    left: 45px;
    top: 104px;
    width: 310px;
    height: 180px;
    overflow:hidden;
    border: 0px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    border-width: 12px; 
    border-style: solid; 
    border-image: url('img/bordercookie.gif') 9 round; /* Imagen del marco */
    
  }
  
  
  .feeling-container {
      display: flex;
      align-items: center; /* Alinea verticalmente los elementos */
      padding: 0;
      height: 15px;
      
  }
  
  .feeling-container h3 {
      margin-right: 8px; /* Espacio entre el texto y el emoji */
      
  }
      .dni-container {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 10px;
          background-image: url(img/bgpaper.png);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          padding: 15px;
          border-radius: 26px;
      }
  
      /* Columna 1: Texto, imagen y redes sociales */
      .column1 {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          
      }
  
      .profile-img {
          width: 120px;
          height: auto;
          max-width: 120px;
          margin: 0;
      }
  
      /*SOCIAL ICONS*/
      .social-icons {
          position: relative;
          display: flex;
          gap: 10px;
      }
  
      .social-icons a {
          position: relative;
          text-decoration: none;
          color: black;
      }
  
      .social-icons a:hover .tooltip {
          visibility: visible;
          opacity: 1;
      }
  
      .tooltip {
          position: absolute;
          bottom: 100%;
          left: 50%;
          transform: translateX(-50%);
          background-color: #333;
          color: #fff;
          padding: 5px;
          border-radius: 4px;
          white-space: nowrap;
          visibility: hidden;
          opacity: 0;
          transition: opacity 0.3s ease;
          z-index: 1000;
          }
  
          .social-icons a {
              position: relative;
              text-decoration: none;
              color: black;
          }
  
  
          .social-icons a:hover .tooltip {
              visibility: visible;
              opacity: 1;
          }
  
          .tooltip {
              position: absolute;
              bottom: 100%;
              left: 50%;
              transform: translateX(-50%);
              background-color: #333;
              color: #fff;
              padding: 5px;
              border-radius: 4px;
              white-space: nowrap;
              visibility: hidden;
              opacity: 0;
              transition: opacity 0.3s ease;
              z-index: 1000;
          }
      
  
      /* Columna 2: Información personal y banderas */
      .column2 {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin-top: 33px;
      }
  
      .flags {
          display: flex;
          gap: 10px;
      }
  
    
      #b3 {
          position: absolute;
          left: 50px;
          top: 357px;
          width: 250px;
          height: 251px;
          overflow-y: auto;
          overflow-x: hidden;
          background: transparent;
          border: 0px solid black;
          background-image: url(img/bgpaper.png);
          display: flex;
          flex-direction: column;
        }
        
      .title-b3{
          display: flex;
          justify-content: space-between;
          align-items: center;
          background:#E27C00; 
          padding: 5px 10px;
          position: sticky;
          top: 0;
          z-index: 343;
          border-bottom: 1px solid #754027; /* Añade un borde inferior si lo deseas */
      }  
   
  
  .title-b3 h2 {
      margin: 0;
      color: white;
      font-size: 14px;
  }
  .insideb3{
      padding: 7px;
  }
  .tl{
      background-color: #B05E1B;
      display: inline-block;
      color: white;
      padding: 2px;
      font-weight: bold;
      font-weight: 15px;
  }
  
  .close-icon {
      color: white;
      font-size: 20px;
      cursor: pointer;
  }
  
        #b4 {
          position: absolute;
          right: 15px; /* Ajusta si es necesario */
          top: 100px;   /* Ajusta si es necesario */
          width: 333px;
          height: 238px;
          overflow-y: auto;
          overflow-x: hidden;
          background: transparent;
          border: 0px solid black;
          background-image: url(img/bgpaper.png);
        }
        #b4 img{
          max-width: 333px;
          
        }
        #b4 a{
          font-weight: bold;
        }
  
        .test{
          background-color: white;
          border: dashed green 3px;
          padding: 4px;
          text-align: center;
          margin-bottom: 6px;
        }
        #b5 {
          position: absolute;
          right: 20px;
          bottom: 20px;
          width: 300px; /* Ajuste del ancho del contenedor */
          height: 210px; /* Ajuste de la altura del contenedor */
          overflow-x: auto; /* Solo se necesita el scroll horizontal */
          overflow-y: hidden; /* No permitir el scroll vertical */
          background: rgba(141, 117, 117, 0.3); /* Fondo transparente */
          background-color: #E27C00; /* Fondo blanco */
      }
      
      .image-container {
          width: max-content; /* Se adapta al tamaño del contenido (imágenes) */
          height: 100%; /* La altura será la misma que la del contenedor padre */
          white-space: nowrap; /* Mantener las imágenes en una sola fila */
      }
      
      .image-container img {
          height: 182px; /* Las imágenes se ajustan a la altura del contenedor */
          display: inline-block; /* Las imágenes se alinean horizontalmente */
          max-width: 300px;;
      }
  
      
        
  * {
    scrollbar-width: thin;
    scrollbar-color: #f6a46d #ffffff;
  }
  
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(255,206,175);
    background: linear-gradient(0deg, rgba(255,139,29,1) 0%, rgba(255,206,175,1) 100%);
    border-left: 1px dashed #fff;
    border-right: 1px dashed #fff;
  }
  
  *::-webkit-scrollbar-thumb {
    background: #FCCCAA;   
    border-radius: 0px;
    border: 1px dashed #fff;
  }
  
  a {
    color:inherit;
    text-decoration: underline;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;}
    
    a:hover {
      color:inherit;
      text-decoration: none;
      letter-spacing: 2px;}
   
  .n {
    margin:0;
    padding:0;
    line-height:15px;
    font-size:14px;} 
  
    .n ul{
      padding:0;
      margin:0;
      list-style-position:inside;
      list-style-image: url('https://cepheus.neocities.org/stars/site/skins/check%204.gif');
      }
  
    .n a{
      color: inherit;
      text-decoration:none;
      margin:0;
      padding: 0;
      padding-top: 1px;
      padding-bottom:1px;
      border:none;
      line-height:8px;}
  
    .n a:hover {
      background: rgb(245,102,7);
      background: linear-gradient(0deg, rgba(245,102,7,1) 0%, rgba(255,182,113,1) 100%);
      border-radius:0px;
      border: 1px solid white;
      box-shadow: 2px 0px 0px black, -2px 0px 0px black, 0px 2px 0px black, 0px -2px 0px black, 0px 0px 2px black;
      text-shadow:none;
      color: #000;
      padding-left:5px;
      -moz-transition:.5s;
      -webkit-transition:.5s;
      transition:.5s;
      letter-spacing:5px;}
     
    .n li{
      list-style-type: square;
      padding-bottom:3px;
      margin-top: 3px;
      margin-bottom: 0px;}
   
    .n ul{
      margin-top: 0px;}
      
    
  ul{
    padding:0;
    margin:0;
    padding-top:3px;
    padding-bottom:3px;
    list-style-position:inside;
    color:inherit;
    list-style-image: url('img/flower-0313.gif');
  }
      
  li{        
    margin-bottom:3px;
  }
    
  .pf{
    width: 90px;
    height: 150px;
    background-color: white;
    background-image: url('https://dummyimage.com/90x150px/ffffff/000.png');
    border: 1px solid #000;
    margin-right: 5px;
    margin-bottom: 5px;
    float:left;}
  
  .back{
      top: 15px;
      left: 15px;
      cursor: pointer;
      
      width: auto;
      position: absolute;
  }
  .back img{
      height: 140px;
  }